<md-dialog>
    <form name="projectForm" ng-submit="save()" >
        <md-dialog-content>
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name Project </label>
                        <input ng-model="newProject.name" name="projectName" required  md-minlength="3">
                        <div ng-messages="projectForm.projectName.$error">
                            <div ng-message="required">This is rquired</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                            <div ng-message="minlength">That's too short!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Status </label>
                        <md-select ng-model="newProject.status" required>
                            <md-option >open</md-option>
                            <md-option >close</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="closeDialog()">
                cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised"
            ng-disabled="projectForm.$invalid">
                save
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>